h1 {
    color: #C97D60;
    font-family: verdana;
    font-size: 300%;
  }

h3 {
    color: #494949;
    font-family: verdana;
    font-size: 18px;
}

p {
    color: black;
    font-family: monospace;
    font-size: 150%;
}


