h4 {
    color: turquoise;
    font-family: verdana;
    font-size: 80%;
    float: left;
  }

.headimage {
  width:  100%;
  height: auto;
}

.introtext {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

